#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav{
    background-color: #5fa8d3;
}
nav a{
    text-align: center;
    color: #1B4965
}
nav a:hover{
    color: #FFFFFF
}
#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
    background-color: #
}
body{
    background-color: #FFFFFF; 
}
header{
    background-color:#1B4965;
}
.book{
    color: #1B4965;
}
.join{
    color: #1B4965;
}
.book:hover{
    color: #5fa8d3;
}
.join:hover{
    color: #5fa8d3;
}
.msg{
    color: #1B4965;
}
footer{
    background-color: #1B4965;
    color: #FFFFFF
}
.home-title{
    background-title: #1B4965
}
footer a{
    color: #FFFFFF
}
footer a:hover{
    color: #5fa8d3
}