#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav{
    background-color: #5fa8d3;
}
nav a{
    text-align: center;
    color: #1B4965;
    text-decoration: none;
}
nav a:hover{
    background-color: #1B4965;
    color: #FFFFFF;
}
.home-title{
    background-color: #1B4965;
}
h4{
    color: #1B4965;
}
#hero-msg h1{
    text-align: center;
    color: #FFFFFF;
}
#hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
}
body{
    background-color: #FFFFFF; 
}
header{
    background-color:#1B4965;
}
.book, .join{
    color: #1B4965;
    text-decoration: none;
}
.book:hover{
    background-color: #1B4965;
    color: #FFFFFF;
}
.join:hover{
    color: #FFFFFF;
    background-color: #1B4965;
}
.msg{
    color: #FFFFFF;
}
.msg h2{
    color: #FFFFFF;
    background-color: #1B4965;
}
.msg p{
    background-color: #1B4965;
}
footer{
    background-color: #5fa8d3;
    color: #1B4965;
}
footer a{
    color: #1B4965;
    text-decoration: none;
}
footer a:hover{
    background-color: #1B4965;
    color: #FFFFFF;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
.icon{
    width: 80px; 
}
.bio{
    color: #FFFFFF;
}
#background{
    background-color: #1B4965;
}
.logo{
    width: 80px;
}