body{
    background-color: rgb(115, 115, 115);
}
.desk{
    border-radius: 50%;
    border: 15px solid rgb(68, 68, 68);
    width: 15%;
    margin: left;
    margin-left: 20px;
}
.graphic{
    border-radius: 50%;
    border: 15px solid rgb(68, 68, 68);
    width: 15%;
    margin: center;
}
.man{
    border-radius: 50%;
    border: 15px solid rgb(68, 68, 68);
    width: 15%;
    margin:right;
    margin-right: 50px;
}
.main_img{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0; 
    position: relative;
    top: -22px;
}
div{
    display: inline;
    width: 50%;
}
.center{
    text-align: center;
    padding: 20%;
    margin: 15px;
}