body{
    background-color: rgb(115, 115, 115);
}
.desk{
    border-radius: 50%;
    border: 15px solid rgb(68, 68, 68);
    width:20%;
    margin: 20px;
}
.graphic{
    border-radius: 50%;
    border: 15px solid rgb(68, 68, 68);
    width:20%;
    margin: 20px;
}
.man{
    border-radius: 50%;
    border: 15px solid rgb(68, 68, 68);
    width: 20%;
    margin:20px;
}
.main_img{
    width: 100%;
    margin: 0 auto;
}
div{
    display: inline;
    width: 50%;
}
.center{
    text-align: center;
}